* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

label {
    display: none;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
}

input:focus {
    outline: none;
    border-color: #007BFF;
}

.button, .save-button, .edit-button, .del-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

.button:hover, .save-button:hover {
    background-color: #0056b3;
}

#todo-list {
    list-style: none;
    padding-left: 0;
}

#todo-list div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    margin: 20px 0 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#todo-list li, #todo-list input {
    flex: 1;
    color: #333;
    font-size: 16px;
    max-height: 100px;
    overflow: auto;
}

#todo-list input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.del-button {
    background-color: #ff4d4d;
}

.del-button:hover {
    background-color: #cc0000;
}

.edit-button {
    background-color: #f0ad4e;
    margin-left: 10px;
}

.edit-button:hover {
    background-color: #ec971f;
}
